:root {
    --red-color: #F90A32;
    --yellow-color: #F9D30A;
    --border-color: #FFF3B5;
    --font-color: #807853;
    --font2-color: #808080;
    --black-color: #000000;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font-color);
}

header {
    background-color: var(--yellow-color);
}

/* div {
    margin: auto auto;
} */

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

@media (max-width: 1440px) {
    .container {
        padding: 0 20px;
    }
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {

    padding: 0 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: var(--red-color);
    transition: color 0.5s;
}

.nav-link:hover {
    color: #241b00;
    text-decoration: underline;
}

.section {
    width: 50%;
    padding: 10px;
    padding: 35px;
    border-bottom: 1px solid var(--border-color);
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title {
    /* margin-bottom: 20px; */
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* margin: 0; */
    /* color: var(--yellow-color); */
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid var(--border-color);
}

.section-profile-logo {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    transition: .3s;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
    color: var(--font2-color)
}

.section-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-image: url(../assets/icon/6.svg);
}

.section-item span {
    color: var(--yellow-color);
}

.contact-item::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-item:nth-child(1)::before {
    background-image: url(../assets/icon/1.svg);
}

.contact-item:nth-child(2)::before {
    top: 3px;
    left: 0;
    width: 21px;
    height: 21px;
    background-image: url(../assets/icon/2.svg);
}

.contact-item:nth-child(3)::before {
    top: 4px;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url(../assets/icon/3.svg);
}

.contact-item:nth-child(4)::before {
    top: 3px;
    left: 0;
    width: 21px;
    height: 21px;
    background-image: url(../assets/icon/4.svg);
}

.contact-item:nth-child(5)::before {
    background-image: url(../assets/icon/5.svg);
}

.contact-item:nth-child(6)::before {
    background-image: url(../assets/icon/8.png);
}

.section-item a {
    text-decoration: none;
    color: var(--yellow-color);
    transition: color 0.5s;
}

.section-item a:hover {
    color: var(--black-color);
}

.main-title {
    /* position: relative; */
    padding: 0;
    margin-bottom: 20px;
    /* color: #4d2323; */
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

.main-subtitle {
    margin-top: 20px;
    color: #808080;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}